* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "News Cycle", sans-serif;
  font-family: "Source Sans 3", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.about-title,
.education__title,
.education__list-title,
.reviews-title,
.record-title {
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 20px;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.logo__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.logo__subtitle {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #8d8d8d80;
}

.about {
  padding-top: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 100px;

  text-align: center;
}

.about-title {
  font-size: 75px;
  line-height: 60px;
  font-weight: 300;
  margin-bottom: 40px;
  text-transform: lowercase;
}

.about-subtitle {
  font-size: 20px;
  font-weight: 300;
  color: #67b4f2;
  text-transform: uppercase;
}

.about-subtitle-mb-30 {
  margin-bottom: 30px;
}

/* 
.about-description {
  font-size: 18px;
  font-weight: 600;
  color: #818181;
} */

.about-img {
  position: absolute;
  right: 100px;
  top: 50%;
  height: 750px;
  transform: translateY(-50%);
}

.education__title {
  font-size: 40px; 
  margin-bottom: 60px; 
  font-weight: 700; 
  text-transform: uppercase; 
  text-align: center;
} 

.education__list-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.education__subtitle {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
}

.education__list {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.education__list-item {
  width: 49%;
  height: fit-content;
  margin-bottom: 30px;
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 20px;
  border-radius: 3px;
  transition: 0.3s;
}

.education__list-item:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.5);
}

.education-list-item__title {
  font-size: 22px;
  font-weight: 300;
  margin: 15px 0;
  /* text-transform: lowercase; */
}

.education-list-item__title-h5 {
  font-size: 18px;
  font-weight: normal;
  background-color: black;
  background-color: #00000078;
  border-radius: 3px;
  color: white;
  margin-bottom: 5px;
  width: 100%;
  padding: 7px 20px;
  font-weight: 400;
}

.education-list-item__link {
  display: block;
}

.education-list-item__img {
  display: block;
  width: 100%;
  height: 89%;
  cursor: pointer;
}

.education-list-item__img__contain {
  object-fit: contain;
}

.education__list-item_h-fit-cont {
  height: 389.6px;
  object-fit: contain;
}

/* slider images */

.slider-imges__position {
  position: relative;
}

.slider-imges {
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.slider-imges__show {
  display: flex;
}

.slider-imges__container {
  width: 80%;
  height: 80%;
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider-images__close {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  position: absolute;
  right: 50px;
  top: 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

@keyframes rotateCloseFirst {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-45deg);
  }
}

@keyframes rotateCloseLast {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.slider-images__close:hover {
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.4);
}

.slider-images__close:hover span:first-child {
  animation: rotateCloseFirst 0.2s ease-in forwards;
}

.slider-images__close:hover span:last-child {
  animation: rotateCloseLast 0.2s ease-in forwards;
}

.slider-images__close span {
  width: 80%;
  height: 2px;
  background-color: black;
  border-radius: 5px;
  position: absolute;
  transition: 0.3s;
}

.slider-images__close span:first-child {
  transform: rotate(45deg);
}

.slider-images__close span:last-child {
  transform: rotate(-45deg);
}

.slider-imges__list {
  width: 60%;
  height: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slider-imges__list-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.slider-imges__list-container-1 {
  transform: translateX(0%);
}

.slider-imges__list-container-2 {
  transform: translateX(-100%);
}

.slider-imges__list-container-3 {
  transform: translateX(-200%);
}

.slider-imges__list-container-4 {
  transform: translateX(-300%);
}

.slider-imges__list-item {
  min-width: 100%;
  height: 100%;
}

.slider-imges__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider-imges__img_containt {
  object-fit: contain;
}

.slider-imges__pages {
  position: absolute;
  border: 5px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.slider-imges__pages-img-right {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.slider-imges__pages-img-left {
  width: 20px;
  height: 20px; 
  transform: rotate(180deg);
  margin-right: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.slider-imges__pages-img-right:hover {
  transform: scale(1.1);
}

.slider-imges__pages-img-left:hover {
  transform: scale(1.1) rotate(180deg);
}

/* about */
.about-me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #f267670d; */
  background: -webkit-linear-gradient(180deg, #ffffff,#f5f5f5,#ffffff);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(180deg, #ffffff,#f5f5f5,#ffffff);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
}

.about-me .container {
  display: flex;
  align-items: center;
}

.about-me-img {
  height: 450px;
  margin-right: 50px;
}

.about-me-title {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 50px;
}

.about-me-subtitle {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #67b4f2;
}

.about-me-description {
  color: #8d8d8d80;
  font-size: 18px;
}

.reviews {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}

.reviews-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews-list-item {
  width: 100%;
  margin-bottom: 20px;
  padding: 40px;
  font-size: 20px;
  font-weight: 400;
  /* box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  border-radius: 10px;
}

.reviews-list-item:hover {
  background-color: #67b4f2;
  color: white;
}

.reviews-list-item:hover .reviews-patient-description {
  color: white;
}

.reviews-patient {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.reviews-patient-description {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #8d8d8d80;
}

.gallary {

}

.gallary-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallary-list__item {
  width: 49%;
  margin-bottom: 20px;
}

.gallary-img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 100px;
}

.map {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.map iframe {
  width: 100%;
  height: 500px;
  border: none;
}

.record {
  padding: 100px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.record-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}

.record-description {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.record-tel {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: fit-content;
  margin-top: 100px;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #67b4f2;
  /* background-color: #f26767; */
  color: white;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.record-tel:hover {
  background-color: #f26767;
}

.record-tel span {
  margin-right: 15px;
  line-height: 26px;
  font-size: 16px;
}

.record-img {
  width: 35px;
  height: 35px;
}

.record-tel-2,
.about-img-mobile {
  display: none;
}

.block {
  display: none;
}

@media (max-width: 1250px) {
  .container {
    width: 800px;
  }

  .about-img {
    right: 0;
    height: 400px;
  }

  .about-me-img {
    height: 300px;
  }

  .about-me-title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .about-me-subtitle {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .about-me-description {
    font-size: 17px;
  }

  .record-description {
    margin-bottom: 35px;
  }

  .record-tel-2 {
    display: flex;
    margin-top: 30px;
  }
}

@media (max-width: 830px) {
  .container {
    width: 500px;
  }

  .about-img,
  .about-me-img {
    display: none;
  }

  .about {
    height: fit-content;
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center;
  }

  .block {
    display: block;
    height: 500px;
  }

  .about-img-mobile {
    display: block;
    height: 500px;
    /* display: block;
    position: relative;
    transform: translateY(0px);
    margin-bottom: 50px;
    margin-left: 114px; */
  }

  .about-subtitle {
    margin-bottom: 50px;
  }

  .reviews-list-item {
    width: 100%;
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
    color: white;
  }

  .reviews-patient-description {
    color: #8d8d8dd1;
  }

  .reviews-patient {
    font-weight: 600;
  }

  .gallary-img {
    position: absolute;
    width: 100%;
    margin: 0;
    z-index: -1;
    left: 0;
    top: 0;
    filter: brightness(0.5);
  }
}

@media (max-width: 530px) {
  .container {
    width: 365px;
  }

  .about {
    text-align: center;
  }

  .about-title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 0;
  }

  .about-subtitle {
    font-size: 25px;
  }

  .about-me-title {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 50px;
  }

  .reviews-title {
    font-size: 30px;
  }

  .reviews-list-item {
    font-size: 16px;
    margin-bottom: 30px;
    padding: 20px;
  }

  .record-title {
    font-size: 35px;
  }

  .block {
    display: block;
    height: 500px;
  }

  .about-img-mobile {
    height: 500px;
    top: 54%;
  }
}